RewriteEngine On
PassengerEnabled off
RewriteBase /

# Block sensitive paths if mistakenly under docroot
RewriteRule ^(\.env|src/|sql/|routes/|vendor/) - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
